@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}
img{
    width: 30rem;
}
h3{
    margin-top: 30px;
    font-size: 8rem !important;
}
.mod{
    height:100%;
}
html,
body {
    width: 100%;
    height: 10%;
}
.texto{
    margin-top:1rem;
	text-align: center;
}
.card {
    color: #fff;
    width: 100%;
    height: 2000px !important;
    border-radius: 10px;
    background: linear-gradient(145deg, #9a40a9, #b74cc9);
    box-shadow: 20px 20px 60px #913ca0, -20px -20px 60px #c552d8;
    border: none
}
.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #9a40a9, #b74cc9);
    box-shadow: inset 20px 20px 60px #913ca0, inset -20px -20px 60px #c552d8
}
.num {
    color: #eee !important
}
.line {
    color: #fff
}
.neo-button:active {
    border-radius: 50%;
    background: #AB47BC;
    box-shadow: 28px 28px 57px #933da2, -28px -28px 57px #c351d6
}
.img{
	width: 100%;
}
.cont{
    width: 100%;
}
.text, span{
    color: rgb(168, 168, 168);
    font-size: 3rem;
}
button{
    margin-left: 20px !important;
    margin-left: 20px !important;
    margin-top: 30px !important;
    width: 200px !important;
    height: 200px !important;
}